.answer-options {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 392px;
}

.answer {
  background-color: blueviolet;
  border: none;
  color: white;
  height: 50px;
  margin: 8px;
  width: 180px;
}

.correct {
  border: 3px solid rgb(6, 240, 15);
}

.wrong {
  border: 3px solid red;
}
